body {
	margin: 60px auto;
	width: 90%;
}

.tab {
	overflow: hidden;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.averaging-content, .inlet-content {
	display: none;
	padding: 6px 12px;
}

details {
	padding: 14px 16px;
}

img {
	max-width: 100%;
	object-fit: contain;
}

.annual-plots {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

p {
	line-height: 1.5;
}
